body
{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);



}

button
{
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: none;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  /* background-color: orangered; */
  background-color: hsl(0, 0%, 25%);

}

.keys
{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  padding: 25px;

}

.calu
{
  font-family: Arial,sans-serif;
  /* background-color: black ; */
  background-color: hsl(0, 0%,15%);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#display
{
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  background-color: hsl(0, 0%,20%);
  color: white;

}


button:hover
{
  background-color: hsl(0, 0%,45%);
}

button:active
{
  background-color: hsl(0, 0%,65%);
}


.operator
{
  background-color: hsl(39,100%,50%) ;
}

.operator:hover{
  background-color: hsl(39,100%,80%) ;

}

.operator:active{
  background-color: hsl(39,100%,19%)
}